<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SoporteConexion"
         
		  connectionString="Server=localhost ; Database=SoporteExamen; User= sa; Pwd=Barcelona24; MultipleActiveResultSets=true;" providerName ="System.Data.SqlClient" />

	</connectionStrings>
</configuration>